!build/hover.hex
.pio/
.pioenvs/
.vscode/
MDK-ARM/DebugConfig/
MDK-ARM/Listing/
MDK-ARM/Objects/
MDK-ARM/RTE/
MDK-ARM/*.uvguix.*
build/
*.d
*.o
*.dep
*.sct
*.lnp
*.htm
*.hex
*.axf
*.map
*.lst
*.s
*.rar
