.WebViewIcon0,
.WebViewIcon1,
.WebViewIcon2,
.WebViewIcon3,
.WebViewIcon4,
.WebViewIcon5,
.WebViewIcon6,
.WebViewIcon7,
.WebViewIcon8,
.WebViewIcon9 { background-image: url('BLDCmotorControl_FOC_R2017b_fixdt_29_icons.png'); width: 16px; height: 16px; }

.WebViewIcon0 { background-position: -0px; }
.WebViewIcon1 { background-position: -16px; }
.WebViewIcon2 { background-position: -32px; }
.WebViewIcon3 { background-position: -48px; }
.WebViewIcon4 { background-position: -64px; }
.WebViewIcon5 { background-position: -80px; }
.WebViewIcon6 { background-position: -96px; }
.WebViewIcon7 { background-position: -112px; }
.WebViewIcon8 { background-position: -128px; }
.WebViewIcon9 { background-position: -144px; }
